@keyframes glow {
    from {
        text-shadow: rgba(255, 255, 255, 0);
    }
    to {
        text-shadow: rgb(255, 255, 255);
    }
}
@keyframes orientation {
    from {
        background: linear-gradient(-45deg, rgba(0, 0, 0, 1) 50%, rgba(154, 189, 223, 1) 0%);
    }
    to {
        background: linear-gradient(-90deg, rgba(0, 0, 0, 1) 50%, rgba(154, 189, 223, 1) 0%);
    }
}
@keyframes right {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(100px, 0px);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
.icon {
    position: relative;
    width: 20px;
    height: 20px;
    object-fit: cover;
    display: block;
}
.profile {
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
    padding-right: 25px;
}
.flex-container {
    border: 2px solid rgb(0, 0, 0);
    font-size: 5rem;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
p {
    font-size: 1rem;
    color:rgb(154, 189, 220);
    font-weight: 400;
    display: inline-block;
    padding: 0;
    overflow-wrap: break-word;
    word-break: break-all;
    hyphens: manual;
    inline-size: inherit;
    position: relative;
    z-index: 2;
}
.padding {
    padding-top: 200px;
}
body {
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    position: relative;
    top: 0; left: 0;
    margin: 5px;
    padding: 10px;
    /*overflow-x: hidden; *fixes horizontal scroll thing, but was more of bandaid*/
}
html {
    border: 2px solid red;
}
.bg {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(102, 12, 12);
    background-position: center;
    background-position: cover;
    background-repeat: repeat;
    position: fixed; /* see MMDN Web Docs for positioning, this is what fixed the scroll issue.*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* ( this was for the image background, decided didn't need.
    width: 100vw;
    height: 100vh;
    */
    min-height: 100%;
    width: 100%;
    z-index: -1;
}
.hl {
    border-top: 2px solid black;
    background-color: white;
    width: 100%;
    position: absolute;
    margin-left: -8.5px;
}
.flex {   /* FLEX BOX FOR MAIN PANELS! */
    margin-top: -1px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.left, .right, .middle {
    padding: 10px;
    position: relative;
    text-align: center;
    padding-top: 10px;
    z-index: 0;
}
.left {
    order: 0;
    max-width: 33.33%;
}
.middle {
    order: 1;
    max-width: 33.33%;
}
.right {
    order: 2;
    max-width: 33.33%;
}
@media (max-width: 768px) {
    .flex {
        display: grid;
        width: auto;
    }
    .left {
        max-width: 100%;
    }
    .middle {
        max-width: 100%;
    }
    .right {
        max-width: 100%;
    }
    .padding {
        padding: 0;
    }
}
.dividing-line {
    border-left: 2px solid black;
    height: 500px;
    top: 0;
}
h1 {
    vertical-align: middle;
    display: inline-flex;
    padding: 0;
    margin: 0;
}
h2, h3, h4, h5, h6, h7 {
    color: rgb(154, 189, 220);
    font-size: 2.5rem;
    font-weight: normal;
    overflow-wrap: break-word;
    inline-size: inherit;
    margin: 0;
    padding: 2px;
    /*background: linear-gradient(90deg, rgba(19, 11, 177, 0.726) 10%, rgba(21, 21, 173, 0.30) 40%, rgba(0, 213, 255, 0) 100%); */
    position: relative;
    z-index: 2;
}
.heading {
    position: relative;
    order: 1;
    padding-left: 10px;
    font-size: 3rem;
    animation-fill-mode: forwards;
    animation-name: right;
    animation-duration: 2s;
    z-index: 1;
}
.headingAnimation {
    translate: -40px, 20px;
}
.heading-background {
    content: "";
    background: linear-gradient(-45deg, rgba(0, 0, 0, 1) 50%, rgba(154, 189, 223, 1) 0%);
    top: 0;
    z-index: -1;
}

/* MOBILE */
@media (max-width: 1230px) and (min-width: 769px) {
    .heading-background {
        background: linear-gradient(-45deg, rgba(0, 0, 0, 1) 35%, rgba(154, 189, 223, 1) 0%);
    }
}
@media (max-width: 930px) {
    .heading-background {
        width: 100%;
        height: 50%;
        background: linear-gradient(-45deg, rgba(0, 0, 0, 1) 40%, rgba(154, 189, 223, 1) 0%);
    }
    .heading {
        font-size: 1rem;
    }
    .profile {
        width: 50%;
        height: 50%;
        object-fit: scale-down;
    }
}
.collapse {
    border: 4px solid red;
    animation: orientation;
    animation-duration: 2s;
    transition: ease-out;
}
.contact-flex {
    position: static;
    display: flex;
    flex-direction: row;
    height: 20px;
    padding-right: 15px; /*adjust back into frame*/
    padding-left: 15px;
    padding-top: 5px; /*clean up*/
    padding-bottom: 5px;
    font-size: 1rem;
    cursor: pointer;
    background-color:  rgba(154, 189, 223, 1);
    overflow: hidden;
    border: 2px solid black;
}
.contact-flex:hover {
    background-color: black;
}
.contact-content {
    height: 100%;
    color:#000000;
    font-weight:400;
}
.contact-item {
    position: relative;
    vertical-align: middle;
    padding-left: 50px;
    display: inline-block;
}
.header {
    display: flex;
}
.glow-animation {
    animation-name: glow;
    animation-duration: 2s;
    animation-delay: 2s;
}
.test {
   background-color: #ffffff00; 
}